.services
    position: relative
    &__box
        display: flex
        flex-direction: column
        position: relative
        &-item
            max-width: 940px
            width: 100%
            background: #eeeeee
            border-radius: 4px
            padding: 150px 100px
            margin-top: 50px
            margin-bottom: 5px
            display: flex
            flex-direction: column
            &__right
                margin-left: 320px
                align-items: flex-end
                text-align: right
                margin-bottom: 29px
        &-title
            font-size: 35px
            line-height: 45px
        &-description
            display: block
            padding: 20px 0
            font-size: 20px
            line-height: 25px
            max-width: 480px
            width: 100%
        &-text
            max-width: 477px
            width: 100%
            font-size: 14px
            line-height: 18px
            margin-bottom: 20px
        &-btn
            max-width: 145px
    &__img
        position: absolute
        &-left
            top: 0
            right: 0
        &-right
            bottom: 0
            left: 0